
# Terraform state and backup files
terraform.tfstate
terraform.tfstate.backup

# Ignore the Terraform crash logs
crash.log

# Terraform cache and logs
.terraform/
.terraform.lock.hcl

# Sensitive environment files
.env
*.env

# Ignore plan output files
*.tfplan

# Ignore VS Code settings
.vscode/

# Ignore system files (macOS, Linux, Windows)
.DS_Store
Thumbs.db
